---
import { projects } from "../../utils/globales"
import ProjectCard from "./project-card"
---
<div class="flex flex-col gap-y-4 mx-96 my-10">
  <!-- titulo -->
  <div class="skills-container flex gap-x-2 ml-3 w-fit justify-center items-center">
    <!-- img proyects -->
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-source-code" width="52" height="52" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M14.5 4h2.5a3 3 0 0 1 3 3v10a3 3 0 0 1 -3 3h-10a3 3 0 0 1 -3 -3v-5" />
      <path d="M6 5l-2 2l2 2" />
      <path d="M10 9l2 -2l-2 -2" />
    </svg>
    <h1 class="text-3xl onest">Mis Proyectos </h1>
  </div>

  <!-- container de los cards -->
  <div class="flex flex-col items-center justify-center gap-y-10 mt-5">
    {
      projects.map(
        project => (
          <ProjectCard {...project} />
        )
      )
    }
  </div>
</div>