---
import Github from '../../public/icons/github.astro';
import Linkedin from '../../public/icons/linkedin.astro';
import ArrowButton from '../components/arrow-button.astro';
import Experience from '../components/experience/experience.astro';
import Proyects from '../components/proyects/projects.astro';
import Skills from '../components/skills/skills.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Portfolio">
	<main class="flex flex-col gap-y-10 text-white w-full">
		<!-- container primera vista del usuario  -->
		<div class="h-[100vh] flex flex-col items-center justify-center ">
			<h1 class="text-2xl" id="typewriter">Full Stack Developer</h1>
			<h2 class="roboto-regular text-8xl">David Arroyo</h2>
      <!-- icons -->
      <div class="icons-container mt-8 flex items-center justify-center gap-x-4">
         <a name="github" href="https://github.com/pridato" target="_blank">
          <Github />
         </a>
         <a name="linkedin" href="https://www.linkedin.com/in/david-arroyo234/" target="_blank">
          <Linkedin />
         </a>
        
      </div>
		  <ArrowButton />
		</div>

    <!-- experiencias -->
     <Experience />
     <Proyects />
     <Skills />
	</main>

</Layout>
<style>

  h1 {
    font-size: 2em;
    color: white;
    text-transform: uppercase;
  }

  span {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }

	.cursor {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }

  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }
</style>

<script type="module" src="/src/utils/typewriter.js"></script>
