---
import HamburgerIcon from "./hamburger-icon.astro";
---

<header class="relative">
  <div class="w-full flex items-end justify-end">
    <!-- svg menu icon -->
     <button class="mr-10 mt-10 text-white">
      <HamburgerIcon />
     </button>
  </div>
</header>